* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
   line-height: 1.6;
}
:root {
   --btn-color: #e67e22;
   --btn-hover-color: #d35400;
}
.red {
   color: red;
}
html {
   font-size: 62.5%; /* 1rem = 10px */
}
body {
   background-color: #1e272e;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 2rem;
   position: relative;
   overflow: hidden;
}

.game-container {
   background-color: #fff;
   display: flex;
   flex-direction: column;
   padding: 2.4rem;
   gap: 2rem;
   border-radius: 18px;
   box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.6),
      -5px -5px 15px rgba(255, 255, 255, 0.1);
   max-width: 90vw;
}

.game-image-container {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2rem;
   margin-bottom: 4rem;
}
figcaption {
   font-size: 1.7rem;
   letter-spacing: 1.2px;
   font-weight: 600;
}
.game-image-container div {
   display: flex;
   justify-content: center;
   align-items: center;
   /* border: 2px dashed rgb(126, 140, 182); */
   padding: 1rem;
}

.game-image-container img {
   width: 100%;
   max-width: 21rem;
   object-fit: cover;
}
.game-image-container #image-ai {
   transform: rotate(90deg);
}
.game-image-container #image-user {
   transform: rotate(-90deg);
}
.game-image-container .vs-text {
   border: none;
   font-size: 3.5rem;
   font-weight: 800;
}

.playing-area {
   display: flex;
   justify-content: space-between;
   width: 100%;
   max-width: 45rem;
   margin: 0 auto 2rem auto;
   align-items: center;
}

.playing-area .selection-area select {
   padding: 1.3rem 4.4rem;
   border: none;
   font-size: 1.6rem;
   background-color: var(--btn-color);
   color: white;
   border-radius: 14px;
}

.playing-area select:focus {
   border: none;
   outline: none;
}

.playing-area .start-area button {
   padding: 1.3rem 4.4rem;
   border: none;
   border-radius: 14px;
   background-color: var(--btn-color);
   color: white;
   transition: 0.7s;
}

.playing-area .start-area button:hover {
   background-color: var(--btn-hover-color);
   transform: translateY(-4px);
}

.ai-image,
.user-image {
   display: flex;
   flex-direction: column;
}

.pop-up {
   height: 100vh;
   width: 100vw;
   position: absolute;
   display: none;
   border-radius: 10px;
   justify-content: center;
   align-items: center;
   z-index: 999;
   perspective: 1000px;
}
.result {
   width: 400px;
   display: none;
   padding: 3rem 2rem;
   border-radius: 20px;
   background-color: #fefefe;
   border-radius: 20px;
   box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
   color: black;
   font-size: 1.4rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   transform: rotateX(10deg);
}
.result .result-title {
   font-size: 3.2rem;
   margin-bottom: 1rem;
   letter-spacing: 1.8px;
   font-weight: 700;
   color: #333;
}
.result .result-info {
   margin: 3rem 0;
   font-size: 2.2rem;
   display: flex;
   align-items: center;
   gap: 14px;
   font-weight: 500;
}

.result .result-highlight {
   font-weight: 700;
   font-size: 2.4rem;
   color: #28a745;
}
.result .close-pop-up {
   margin: 2rem 0 1rem 0;
}
.result .close-pop-up button {
   padding: 1.5rem 5rem;
   border: none;
   background-color: var(--btn-color);
   color: white;
   border-radius: 10px;
   font-size: 1.6rem;
   cursor: pointer;
}
.result .close-pop-up button:hover {
   background-color: var(--btn-hover-color);
}
.fly-in {
   animation: scale-in 0.5s linear forwards;
}
.fly-out {
   animation: scale-out 0.5s linear;
}
@keyframes scale-in {
   from {
      transform: rotateX(90deg) scale(0);
      opacity: 0;
   }
   to {
      transform: rotateX(6deg) scale(1.2);
      opacity: 1;
   }
}
@keyframes scale-out {
   from {
      transform: rotateX(6deg) scale(1.2);
      opacity: 1;
   }
   to {
      transform: rotateX(90deg) scale(0);
      opacity: 0;
   }
}
@media only screen and (max-width: 900px) {
   html {
      font-size: 56.25%; /* Adjust to 9px base font-size */
   }

   .game-container {
      padding: 1.6rem;
      gap: 1.5rem;
   }

   .playing-area {
      flex-direction: column;
      width: 90%;
      gap: 1.5rem;
   }
}

@media only screen and (max-width: 600px) {
   html {
      font-size: 50%; /* Adjust to 8px base font-size */
   }

   body {
      flex-direction: column;
      padding: 1rem;
   }

   .game-container {
      width: 95%;
      margin-top: 3rem;
   }

   .game-image-container {
      flex-direction: column;
      gap: 1.5rem;
   }

   .game-image-container img {
      width: 75%;
      max-width: 20rem;
   }

   .playing-area {
      width: 100%;
      gap: 2rem;
   }
}

@media only screen and (max-width: 400px) {
   html {
      font-size: 45%; /* Adjust to 7.5px base font-size */
   }

   .game-container {
      gap: 1rem;
      padding: 1rem;
   }

   .game-image-container img {
      width: 100%;
   }
}
